h1 {
  background: url('/header.svg') no-repeat;
  color: white;
  margin: 0;
  font-weight: bold;
  line-height: 1;
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}
h1 span {
  display: inline-block;
  padding: 0 0.5rem;
}

@media (max-width: 700px) {
  h1 {
    padding: 1rem;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}

.ratings-header {
  text-align: center;
}

.ratings-header .buttons-span {
  margin-right: 40px;
  float: right;
}

.ratings-header h2 {
  display: inline;
  font-size: 30px;
}

.ratings-header img {
  height: 30px;
  width: 35px;
  margin: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.ratings-header .active {
  background: #0040FF40;
  border-radius: 10px;
  height: 35px;
  width: 40px;
}

.flex-container {
  list-style: none;
  display: inline;
  flex-wrap: nowrap;
}

.flex-item {
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
}